DB_SERVER=
DB_NAME=
DB_DRIVER=

DB_PRODUCTS=
DB_PRICES=
DB_CLIENTS=
DB_ATTRIBUTES=

DB_PRODUCT_CODE=
DB_PRODUCT_ID=
DB_SUPPLIER_CODE=
DB_PRICE_ID=
DB_PRICE=
DB_ATTR_ID=
DB_ATTR_TXT=
DB_ATTR=
DB_CLIENT_CODE=
DB_CLIENT_ID=

DB_PRICES_PRODUCT_ID=
DB_PRODUCTS_CLIENT_ID=
DB_ATTR_PRODUCT_ID=