supplier_code: # for sql query
file_type: # excel/pdf
file_path: 
sheet_name: 
header_row: # starting from 0

column_mapping:
  "": code_pricelist
  "": name_pricelist
  "": price_pricelist

currency: 